<h4 class="mb-0 title-detail " mat-dialog-title>{{servizio.nome}}</h4>
<div class="sub-title-detail mb-2" [innerHTML]="servizio.nomeExt"></div>
<div mat-dialog-content>

    <div *ngIf="actionString === 'DETAIL'" class="row bg-light p-2">
        <div class="col-12 d-flex justify-content-center">
            <p class="detail-intro">Dettaglio</p>
        </div>
        <div class="col-12 bg-white rounded" [innerHTML]="servizio.descrizione">

        </div>
    </div>

    <div *ngIf="actionString === 'PRE-ACQUISTO'" class="row bg-light p-2 pt-3">
        <div class="col-12 d-flex justify-content-center">
            <p class="detail-intro">Completa l'acquisto</p>
        </div>
        <div class="col-8 bg-white rounded d-flex flex-column justify-content-center p-2 pt-3">
            <p class="mb-0"> <small>Prezzo unitario ( Iva esclusa ) : {{servizio.prezzo | currency:'EUR'}}</small></p>
            <p class="info-tax"><small>Comprensivo di Iva ( al {{config.configurazione.localTax}}% ) :
                    {{config.countValue(servizio.prezzo) | currency:'EUR'}}</small></p>
        </div>
        <div class="col-4 bg-white rounded d-flex justify-content-center pt-2">
            <app-incrementer class="mt-1" [label]="'unità'" (counterEmitter)="retrieveQuantity($event) "
                [value]="quantity" [step]="1" [min]="0" [max]="9"></app-incrementer>
        </div>

        <div class="col-12 bg-white rounded d-flex flex-column p-2 pt-3">
            <p class="mb-0"> <small>Totale ( Iva inclusa ) : {{totPrice| currency:'EUR'}}</small></p>
        </div>
    </div>

    <div *ngIf="actionString === 'PRE-PRENOTAZIONE'" class="row bg-light p-2">
        <div class="col-12 d-flex justify-content-center">
            <p class="detail-intro">Completa la prenotazione</p>
        </div>
        <div class="col-12 bg-white rounded">

        </div>
    </div>
</div>
<div mat-dialog-actions class="row py-0">
    <div class="col-12 d-flex justify-content-end">
        <button mat-button *ngIf="actionString !== 'DETAIL'" (click)="action('DETAIL')" color="accent">Torna al
            dettaglio</button>

        <button mat-button *ngIf="prodotto && (actionString === 'DETAIL') "
            cdkFocusInitial (click)="action('PRE-ACQUISTO')" color="primary">Procedi all' acquisto</button>
            
        <button mat-button *ngIf="totPrice > 0 && (actionString !== 'PAYPAL' && actionString !== 'DETAIL' )" cdkFocusInitial
            (click)="action('PAYPAL')" class="ml-auto" color="primary">Acquista ora</button>

        <button mat-button *ngIf="totPrice > 0 && (actionString !== 'PAYPAL' && actionString !== 'DETAIL' )" cdkFocusInitial
            (click)="addToCarrello()" class="ml-auto" color="primary">Aggiungi al carrello</button>
        
        <button mat-button *ngIf="prodotto && actionString !== 'DETAIL' && actionString === 'PAYPAL'" cdkFocusInitial
                (click)="action('PRE-ACQUISTO')" class="ml-auto" color="primary">Modifica acquisto</button>

    </div>

    <div *ngIf=" (actionString === 'PAYPAL') && totPrice > 0" class="col-12 mt-2 ">
        <div class="col-12 p-3 bg-light d-flex justify-content-center lign-items-center">
            <p class="detail-intro align-self-center mb-0">Importo totale ( Iva inclusa ) :  {{totPrice| currency:'EUR'}}</p>
        </div>
    </div>

    <app-paypal-button [acquisti]="acquisti"></app-paypal-button>
</div>