.title-detail {
    font-size: 18px;
    font-weight: bold;
}

.sub-title-detail{
    font-size: 15px;
    color: gray;
}

.detail-intro{
    color: darkgray;
    font-size: 15px;
}

.info-tax{
    font-size: 0.7em !important;
    color: gray;
}