.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.image-container {
    position: relative;
    border-radius: 10px !important;
    background-color: rgb(231, 231, 231);
}

.thumbnail-image {
    border-radius: 10px !important
}
