.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 375px !important;
}

.card-title{
    padding-top: 36px !important;
}

.image-container {
    position: relative;
    border-radius: 10px !important;
    background-color: rgb(231, 231, 231);
}

.price {
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
}
