
<div class="row mb-3 p-4">
    <div class="col-12 d-flex justify-content-center">
        <app-card-servizio [prodotto]="prodottoDto"></app-card-servizio>
    </div>
    <div class="col-12 d-flex justify-content-center">
            <app-cart></app-cart>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-images-editor (imagesEmitter)="retrieveImges($event)"></app-images-editor>
        <app-text-editor [(text)]="prodottoDto.descrizione"></app-text-editor> 
        
    </div>
</div>
