
<div class="row mb-3 p-4">
    <div class="col-12d-flex  justify-content-center">
        <div class="col-12  col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
            <app-card-servizio [prodotto]="prodottoDto"></app-card-servizio>
        </div>
        <div class="col-12  col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
            <app-card-servizio [evento]="eventoDto"></app-card-servizio>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
            <app-cart></app-cart>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-images-editor (imagesEmitter)="retrieveImges($event)"></app-images-editor>
        <app-text-editor [(text)]="prodottoDto.descrizione"></app-text-editor> 
        
    </div>
</div> 