<button *ngIf="acquisti.length === 0" mat-icon-button aria-label="Example icon-button with a menu">
  <i class="pi pi-shopping-cart" style="font-size: 1.3rem"></i>
</button>

<button *ngIf="acquisti.length > 0" mat-icon-button #menuTrigger="matMenuTrigger" (menuOpened)="open()"
  [matMenuTriggerFor]="menu" matBadge="{{acquisti.length}}" matBadgeColor="warn"
  aria-label="Example icon-button with a menu">
  <i class="pi pi-shopping-cart" style="font-size: 1.3rem"></i>
</button>
<mat-menu #menu="matMenu" (closed)="close($event)">
  <div *ngIf="menuOpen" class="row">
    <div class="col-12 d-flex justify-content-center align-items-center bg-light mb-2 p-3">
      <p class="mb-0">Il tuo carrello</p>
    </div>
    <div *ngFor="let acquisto of acquisti" class="col-12 bg-light mb-2 p-3">
      <p><strong>{{getDetail(acquisto).title}}</strong></p>
      <p class="mb-0 ms-3">Quantità : {{getDetail(acquisto).qnt}}</p>
      <p class="mb-2 ms-3">Totale (Iva inclusa) : {{getDetail(acquisto).total | currency:'EUR'}}</p>
      <div class="col-12 bg-white rounded d-flex justify-content-end p-1">
        <button mat-button color="accent" (click)="remove(acquisto)" class="buy mat-button-sm">Rimuovi</button>

      </div>
    </div>
    <div class="col-12">
      <app-paypal-button [acquisti]="acquisti"></app-paypal-button>
    </div>
  </div>
</mat-menu>