<h4 class="mb-0 title-detail " mat-dialog-title>{{servizio.nome}}</h4>
<div class="sub-title-detail mb-2" [innerHTML]="servizio.nomeExt"></div>
<div mat-dialog-content>

    <div *ngIf="actionString === 'DETAIL'" class="row bg-light p-2">
        <div class="col-12 d-flex justify-content-center">
            <p class="detail-intro">Dettaglio</p>
        </div>
        <div class="col-12 bg-white rounded" [innerHTML]="servizio.descrizione">

        </div>
    </div>

    <div *ngIf="actionString === 'PRE-PRENOTAZIONE'" class="row bg-light p-2">
        <div class="col-12 d-flex justify-content-center">
            <p class="detail-intro">Completa la prenotazione</p>
        </div>
        <div *ngIf="evento.dataInizio" class="col-12 bg-white rounded d-flex justify-content-center p-2 pt-3">
            <p class="detail-intro">L'evento inizierà in data : {{evento.dataInizio | date:'medium'}}</p>
        </div>
        <div *ngIf="!evento.dataInizio" class="col-12 bg-white rounded d-flex justify-content-center p-2">
            <app-calendar [minTime]="config.configurazione.oraApertura" [maxTime]="config.configurazione.oraChiusura" [disable]="false"  [(dateStart)]="acquistoEvento.dataInizio" ></app-calendar>
        </div>
    </div>

</div>
<div mat-dialog-actions class="row">
    <div class="col-12 d-flex justify-content-end">
        <button mat-button *ngIf="actionString !== 'DETAIL'" (click)="action('DETAIL')" color="accent">Torna al
            dettaglio</button>

        <button mat-button *ngIf="evento && (actionString === 'DETAIL') "
            cdkFocusInitial (click)="action('PRE-PRENOTAZIONE')" color="primary">Procedi alla prenotazione</button>
            
        <button mat-button *ngIf="acquistoEvento.dataInizio && actionString !== 'DETAIL' " cdkFocusInitial
            (click)="action('PAYPAL')" class="ml-auto" color="primary">Prenota ora</button>

        <button mat-button *ngIf="acquistoEvento.dataInizio && actionString !== 'DETAIL' " cdkFocusInitial
            (click)="addToCarrello()" class="ml-auto" color="primary">Aggiungi al carrello</button>
        
        <button mat-button *ngIf="evento && actionString !== 'DETAIL' && actionString === 'PAYPAL'" cdkFocusInitial
                (click)="action('PRE-PRENOTAZIONE')" class="ml-auto" color="primary">Modifica prenotazione</button>

    </div>

    <div *ngIf=" (actionString === 'PAYPAL') && totPrice > 0" class="col-12 mt-2 ">
        <div class="col-12 p-3 bg-light d-flex justify-content-center lign-items-center">
            <p class="detail-intro align-self-center mb-0">Importo totale ( Iva inclusa ) :  {{totPrice| currency:'EUR'}}</p>
        </div>
    </div>

    <app-paypal-button [acquisti]="acquisti"></app-paypal-button>

</div>