<div class="card  w-100 p-3 mb-2">
            
    <div class="col-12 bg-light p-3 mb-3 d-flex justify-content-end">
        <button mat-stroked-button (click)="addAction()" color="success">Nuova immagine</button>
        <button mat-stroked-button (click)="emit()" color="primary" class="ms-2" *ngIf="edited">Conferma immagini</button>
        <button mat-stroked-button (click)="set()" color="accentz" class="ms-2" *ngIf="edited">Annulla</button>

    </div>
    <div *ngFor="let img of imagesEditable; let i = index" class="col-12 d-flex justify-content-center">
        <div class="card card-image border w-75 p-3 mb-2">
            <div class="row">
                <div class="col-2">
                    <img src="{{img.base64}}" width="100%" />
                </div>
                <div class="col-10 d-flex align-items-center ">
                    <div *ngIf="!img.edit" class="col-12 d-flex justify-content-center d-flex align-items-center">
                        <button mat-button (click)="img.edit = !img.edit" color="primary">Modifica</button>
                        <button mat-button (click)="removeAction(img)" color="accent">Elimina</button>
                    </div>
                    <div *ngIf="img.edit" class="col-12 d-flex justify-content-center d-flex align-items-center flex-column">
                        <input class="form-control form-control-sm " id="formFileSm"
                            (change)="fileChangeEvent($event , img )" type="file">
                            <button *ngIf="img.imageChangedEvent" mat-button class="mt-2" (click)="img.edit = !img.edit ; edited = true">Conferma</button>    
                    </div>
                    
                </div>
                <div *ngIf="img.edit" class="col-12 d-flex justify-content-center bg-light mt-3">
                    <image-cropper style="height: 400px; width: 400px; " [imageChangedEvent]="img.imageChangedEvent"
                        [maintainAspectRatio]="true" [containWithinAspectRatio]="containWithinAspectRatio"
                        [aspectRatio]="4 / 4" [cropperMinWidth]="128" [onlyScaleDown]="true"
                        [roundCropper]="false" [canvasRotation]="canvasRotation" [transform]="transform"
                        [alignImage]="'center'" [style.display]="img.showCropper ? null : 'none'" format="png"
                        (imageCropped)="imageCropped($event , img)" (imageLoaded)="imageLoaded(img)"
                        (cropperReady)="cropperReady($event , img)" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                </div>
            </div>
        </div>
    </div>

</div>
    
   
        
 
